/DevMobileIUT/DevMobileIUT/DevMobileIUT/obj
/DevMobileIUT/DevMobileIUT/DevMobileIUT.Android/obj
/DevMobileIUT/DevMobileIUT/DevMobileIUT.IOS/obj

/DevMobileIUT/DevMobileIUT/DevMobileIUT/bin
/DevMobileIUT/DevMobileIUT/DevMobileIUT.Android/bin
/DevMobileIUT/DevMobileIUT/DevMobileIUT.IOS/bin
